<!-- app.component.html -->
<div class="app-container">
    <nav class="main-nav">
      <div class="nav-container">
        <div class="brand">
          <h1>Projet Angular</h1>
        </div>
        <ul class="nav-links">
          <li><a routerLink="/jeux" routerLinkActive="active">
            <i class="fas fa-list"></i> Catalogue
          </a></li>
          <li><a routerLink="/reservations" routerLinkActive="active">
            <i class="fas fa-bookmark"></i> Réservations
          </a></li>
          <li><a routerLink="/list-reservation" routerLinkActive="active">
            <i class="fas fa-plus-circle"></i> Liste des Réservations
          </a></li>
        </ul>
      </div>
    </nav>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>